.button {
background-color: blue;
color: white
}

  
  #calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    margin: auto;
    text-align: left;
    color: brown;
    justify-content: left;
    align-items: left;
  }